streamlit==1.38.0
pandas==2.2.2
numpy==2.1.0
plotly==5.24.1
ydata-profiling==4.10.0
scikit-learn==1.5.2
pycaret[full]==3.3.2
sweetviz==2.1.4
autoviz==0.1.66
joblib==1.4.2
openpyxl==3.1.5
xlrd==2.0.1
streamlit-extras==0.3.7
streamlit-option-menu==0.3.11
